* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .navegacao {
        text-decoration: none;
        color: rgb(0, 150, 150);
        text-decoration: none;
        font-weight: bold;
        padding: 0.5rem 1rem;
        margin: 20px;
        border: 2px solid rgb(0, 150, 150);
        border-radius: 25px;
        display: inline-block;
        transition: all 0.5s ease;
    }
    
    .navegacao:hover {
        background-color: aquamarine;
    }
    
    .retangulo {
        width: 400px;
        height: 200px;
        background-color:#1f029e;
        align-items: center;
        margin: 50px auto;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        gap: 20px;
    }
    
    .quadrado {
        width: 150px;
        height: 150px;
    }
    
    .azul {
        background-color: rgb(30, 28, 150);
    }
    
    .verde {
        background-color: rgb(26, 172, 21);
    }
    
    .fundo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 30px;
        gap: 20px;
        align-items: center;
        background-color: #363636;
        padding: 20px;
        height: 600px;
        width: 300px;
        border-radius: 20px;
        margin-bottom: 0;
        box-shadow: 0 0 20px gray;
    }
    
    .sinal {
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
    
    .vermelho {
        background-color: rgb(255, 0, 0);
    }
    
    .amarelo {
        background-color: rgb(255, 230, 0);
    }
    
    .verde {
        background-color: rgb(12, 218, 12);
    }
    .vermelho:hover {
        background-color: rgb(207, 0, 0);
        transform: scale(1.2);
        box-shadow: 0 0 20px red;
    }
    
    .amarelo:hover {
        background-color: rgb(221, 199, 1);
        transform: scale(1.2);
        box-shadow: 0 0 20px yellow;
    }
    
    .verde:hover {
        background-color: rgb(13, 158, 13);
        transform: scale(1.2);
        box-shadow: 0 0 20px green;
    }

    .barra {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 30px;
        background-color: #474747;
        height: 300px;
        width: 60px;
    }