* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(0, 56, 102);
    color: azure;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: rgb(61, 157, 221);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.menu a:hover {
    color:rgb(34, 100, 131)
}